@font-face {
    font-family: "Montserrat";
    src: url("./Assets/Fonts/Montserrat-Light.ttf");
}

body {
    margin: 0;
    font-family: Montserrat !important;
}

a {
    text-decoration: none !important;
}
li {
    list-style: none !important;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
